@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.body {
	background-color: black;
	width: auto;
}
.contact {
	background-color: black;
	width: auto;
	height: 100vh;
}
#videoBG {
	position: absolute;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
	#videoBG {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 767px) {
	#videoBG {
		display: none;
	}
	body {
		background-size: cover;
	}
}
.about-page-img {
	height: 200px;
	width: 300px;
	border-radius: 10px;
}
@media (width<= 400px) {
	.about-page-img {
		/* display: none; */
		margin-left: -20px;
		width: 250px;
		/* height: 150px; */
		/* object-fit: contain; */
	}
	.team {
		justify-content: center;
	}
}
@media (width<= 749px) {
	.team {
		justify-content: center;
	}
}
